{
  "presets": [
    "@babel/env",
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/proposal-class-properties"],
    ["@babel/proposal-decorators", { "legacy": true }],
    ["@babel/proposal-async-generator-functions"],
    ["@babel/proposal-object-rest-spread"],
    ["@babel/plugin-transform-runtime"]
  ]
}
